@import '../../scss/global.scss';

.wrapper {
    position: relative;
}

.background {
    position: fixed;
    height: 40vh;
    width: 100vw;
}

.stripeOne {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    transform: skewY(-8deg);
    transform-origin: 0;
    background: linear-gradient(-150deg, $primary-color-dark 0%, $primary-color 70%);
}

.stripeTwo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    overflow: hidden;
    background: linear-gradient(150deg, transparentize($primary-color, 0) 40%, $primary-color 70%);
}


.stripeThree {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    transform: skewY(-8deg);
    transform-origin: 0;
    background: linear-gradient(-150deg,rgba(255,255,255,0) 40%, $primary-color-light 70%);
}
