@keyframes slideInLeft {
    0% { transform: translateX(-105%);}
    100% { transform: translateX(0%); }
};

@keyframes slideOutLeft {
    0% { transform: translateX(0%);}
    100% { transform: translateX(-105%); }
};
