// $primary-color-dark:   #1976D2;
// $primary-color:        #2196F3;
// $primary-color-light:  #BBDEFB;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #FF5722;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;

$primary-color-dark:   #C2185B;
$primary-color:        #E91E63;
$primary-color-light:  #F8BBD0;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
